# {{ package.name }}

{{ package.description }}

## Package Information

- Version: {{ package.version }}
- Total Modules: {{ package.num_modules }}
- Author(s): {{ package.author }}
- License: {{ package.license }}
- Homepage: {{ package.homepage }}

## Available Modules

### Module List

| Image | Module | Description |
|-------|--------|-------------|
{% for module in package.modules -%}
| {%- if module.image -%}<img src="https://github.com/ruben-iteng/ato-library/raw/main/packages/{{ package.name }}/{{ module.image }}" alt="{{ module.name }}" width="250"/>{%- else -%}-{% endif -%} | {{ module.name | md_cell }} | {{ module.description | md_cell }} |
{% endfor %}
