# {{ package.name }}

{{ package.description }}

## Package Information

- Version: {{ package.version }}
- Total Modules: {{ package.num_modules }}
- Author(s): {{ package.author }}
- License: {{ package.license }}
- Homepage: {{ package.homepage }}

## Available Modules

### Module List

| Module | Description |
|--------|-------------|
{% for module in package.modules -%}
| {{ module.name | md_cell }} | {{ module.description | md_cell }} |
{% endfor %}
